# Pandas
Pandas是 Python中用于分析数据的常用开源库。Python 可以很好地预处理和加工数据，但是它无法很好地进行数据分析-通常情况下你会利用 R 或者 SQL 来分析数据。有了Pandas之后，我们可以利用 Python 快速地进行数据分析。


![DataFrame](http://bookdata.readthedocs.io/en/latest/_images/base_01_pandas_5_0.png)


# 参考文档
- [10分钟搞定Pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)

In [24]:
import pandas as pd

# 奥运会金牌数量
country = ['United States', 'Soviet Union', 'United Kingdom']
gold_medals = [1118, 473, 273]
top_gold_medal_countries = { 'a': country, 'b': gold_medals }

dict_gold_medal_df = pd.DataFrame(top_gold_medal_countries)
dict_gold_medal_df.head()

                a     b
0   United States  1118
1    Soviet Union   473
2  United Kingdom   273

In [25]:
dict_gold_medal_df.columns = ['Country', 'Total']
dict_gold_medal_df.head()

          Country  Total
0   United States   1118
1    Soviet Union    473
2  United Kingdom    273

In [26]:
import pandas as pd

list_keys = ['Country', 'Total']
list_values = [['United States', 'Soviet Union', 'United Kingdom'], [1118, 473, 273]]

zipped = list(zip(list_keys, list_values))
data = dict(zipped)

zipped_gold_medal_df = pd.DataFrame(data)
zipped_gold_medal_df.head()

          Country  Total
0   United States   1118
1    Soviet Union    473
2  United Kingdom    273

# 课堂练习
手动创建DataFrame：
1. 在`../data/`目录中随意选择一个csv文件；
2. 通过read_csv创建一个DataFrame；
3. 通过`head()`、`tail()`查看数据；
4. 通过`info()`查看并理解DataFrame信息；

In [3]:
import pandas as pd

df = pd.read_csv('../data/iris.csv')

print(type(df))

df.head(15)

<class 'pandas.core.frame.DataFrame'>

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa

In [28]:
df.tail(5)

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [6]:
print(df.columns)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [7]:
print(type(df))

import numpy as np

np_values = df.values
print(type(df.values))

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [5]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000