# Pandas
Pandas是 Python中用于分析数据的常用开源库。Python 可以很好地预处理和加工数据，但是它无法很好地进行数据分析-通常情况下你会利用 R 或者 SQL 来分析数据。有了Pandas之后，我们可以利用 Python 快速地进行数据分析。


![DataFrame](http://bookdata.readthedocs.io/en/latest/_images/base_01_pandas_5_0.png)


# 参考文档
- [10分钟搞定Pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)

In [21]:
import pandas as pd

df = pd.read_csv('../data/iris.csv')

df.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df.tail(5)

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

columns

In [6]:
print(df.columns)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

index

Data Types

In [7]:
print(type(df))

import numpy as np

np_values = df.values
print(type(df.values))

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

read from csv
http://bookdata.readthedocs.io/en/latest/_images/base_01_pandas_5_0.png![image.png](attachment:image.png)
dict

Broadcasting, add one new column

In [18]:
import pandas as pd

# 奥运会金牌数量
country = ['United States', 'Soviet Union', 'United Kingdom']
gold_medals = [1118, 473, 273]
top_gold_medal_countries = { 'a': country, 'b': gold_medals }

dict_gold_medal_df = pd.DataFrame(top_gold_medal_countries)
dict_gold_medal_df.head()

                a     b
0   United States  1118
1    Soviet Union   473
2  United Kingdom   273

In [20]:
dict_gold_medal_df.columns = ['Country', 'Total']
dict_gold_medal_df.head()

          Country  Total
0   United States   1118
1    Soviet Union    473
2  United Kingdom    273

In [17]:
import pandas as pd

list_keys = ['Country', 'Total']
list_values = [['United States', 'Soviet Union', 'United Kingdom'], [1118, 473, 273]]

zipped = list(zip(list_keys, list_values))
data = dict(zipped)

zipped_gold_medal_df = pd.DataFrame(data)
zipped_gold_medal_df.head()

                a     b
0   United States  1118
1    Soviet Union   473
2  United Kingdom   273

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB